<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.aloofcoder.falsework.admin.dao.RoleSourceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="github.aloofcoder.falsework.admin.pojo.entity.RoleSourceEntity">
            <result property="id" column="id"/>
            <result property="roleId" column="role_id"/>
            <result property="sourceId" column="source_id"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id, role_id, source_id    </sql>

</mapper>
