<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.aloofcoder.falsework.admin.dao.UserRoleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="github.aloofcoder.falsework.admin.pojo.entity.UserRoleEntity">
            <result property="id" column="id"/>
            <result property="roleId" column="role_id"/>
            <result property="userNum" column="user_num"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id, role_id, user_num    </sql>
    <select id="findUserRoleNamesByUserNums" resultType="map">
        SELECT
        ur.user_num userNum,
        GROUP_CONCAT(r.role_name) roles
        FROM
            sys_user_role ur
            LEFT JOIN sys_role r ON ur.role_id = r.role_id
        WHERE
            ur.user_num IN
            <foreach collection="userNums" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        GROUP BY
            ur.user_num
    </select>

</mapper>
