<template>
    <el-dialog :title="title()" :visible.sync="visibvle" width="500px" @close="handleCancel">
        <el-form :model="form">
            <el-form-item label="活动名称" :label-width="formLabelWidth">
                <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="活动区域" :label-width="formLabelWidth">
                <el-select style="width: 100%" v-model="form.region" placeholder="请选择活动区域">
                    <el-option label="区域一" value="shanghai"></el-option>
                    <el-option label="区域二" value="beijing"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="handleCancel">取 消</el-button>
            <el-button type="primary" @click="handleConfirm">确 定</el-button>
        </div>
    </el-dialog>
</template>

<script>
    export default {
        name: "AddOrEditUser",
        data() {
            return {
                isEdit: false,
                visibvle: false,
                form: {
                    name: undefined,
                    region: undefined,
                },
                formLabelWidth: "100px",
            };
        },
        methods: {
            add() {
                this.isEdit = false;
                this.visibvle = true;
            },
            edit(data) {
                this.isEdit = true;
                this.visibvle = true;
                this.form = Object.assign({}, this.form, data);
            },
            handleCancel() {
                this.visibvle = false;
                this.$emit("cancel");
            },
            handleConfirm() {
                this.visibvle = false;
                this.$emit("ok", this.isEdit, this.form);
            },
            title() {
                return (this.isEdit ? "编辑" : "添加") + "用户";
            },
        },
    };
</script>

<style>
</style>
