<template>
    <div class="app-container">
        <div class="filter-container">
            <el-input
                    style="width: 200px"
                    class="filter-item"
                    placeholder="用户名/登录名/邮箱"
                    v-model="searchForm.userName"
                    type="text"
            />
            <el-button
                    style="margin-left: 10px;"
                    class="filter-item"
                    icon="el-icon-search"
                    type="primary"
            >查询</el-button>
            <el-button
                    style="margin-left: 10px;"
                    class="filter-item"
                    icon="el-icon-plus"
                    type="primary"
                    @click="handleAdd()"
            >添加</el-button>
            <el-button
                    v-if="multipleSelection.length > 0"
                    class="filter-item"
                    icon="el-icon-delete"
                    type="danger"
            >批量删除</el-button>
        </div>
        <div class="table-container">
            <el-table
                    :data="tableData"
                    style="width: 100%"
                    stripe
                    border
                    @selection-change="handleSelectionChange"
                    show-overflow-tooltip
            >
                <el-table-column type="selection"></el-table-column>
                <el-table-column type="index" label="序号"></el-table-column>
                <el-table-column prop="date" label="日期" width="180"></el-table-column>
                <el-table-column prop="name" label="姓名" width="180"></el-table-column>
                <el-table-column prop="address" label="地址"></el-table-column>
                <el-table-column fixed="right" label="操作" width="100">
                    <template slot-scope="scope">
                        <el-button @click="handleOperate(scope.row, 'edit')" type="text" size="small">编辑</el-button>
                        <el-button
                                class="el-delete-btn"
                                @click="handleOperate(scope.row, 'delete')"
                                type="text"
                                size="small"
                        >删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <el-pagination
                v-if="total > 0"
                background
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[100, 200, 300, 400]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"
        ></el-pagination>

        <add-or-edit-user ref="userDialog" @ok="handleConfirm" @cancel="handleCancel"></add-or-edit-user>
    </div>
</template>

<script>
    import AddOrEditUser from "./add-or-edit-user";
    export default {
        name: "User",
        components: {
            AddOrEditUser,
        },
        data() {
            return {
                currentPage: 1,
                pageSize: 10,
                total: 400,
                searchForm: {},
                multipleSelection: [],
                tableData: [
                    {
                        date: "2016-05-02",
                        name: "王小虎",
                        address: "上海市普陀区金沙江路 1518 弄",
                    },
                    {
                        date: "2016-05-04",
                        name: "王小虎",
                        address: "上海市普陀区金沙江路 1517 弄",
                    },
                    {
                        date: "2016-05-01",
                        name: "王小虎",
                        address: "上海市普陀区金沙江路 1519 弄",
                    },
                    {
                        date: "2016-05-03",
                        name: "王小虎",
                        address: "上海市普陀区金沙江路 1516 弄",
                    },
                ],
            };
        },
        methods: {
            handleAdd() {
                this.$refs.userDialog.add()
            },
            handleOperate(data, param) {
                console.log(data, param, "handleOperate");
                switch (param) {
                    case "edit":
                        this.$refs.userDialog.edit(data)
                                break;
                    case "delete":
                        break;
                    default:
                }
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleConfirm(data) {

            },
            handleCancel() {

            },
        },
    };
</script>
